// Initialiser Stylesheets

@import "partials/functions";
@import "partials/variables";

// Global Stylesheet

@import "partials/base"; 
@import "partials/grid"; 
@import "partials/type";
@import "partials/classes";

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; } 