// Colors

$black: #111;
$white: #FFF;
$light-grey: #EEE;
$grey: #999;
$dark-grey: #333333;
$navy: #001F3F;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #e04949;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;


// Buttons

$primary-button: $black;
$primary-button-hover: darken($primary-button, 9%);

$secondary-button: $teal;
$secondary-button-hover: darken($secondary-button, 9%);

// Borders

$light-border-color: #F8F8F8;
$dark-border-color: #333;

// Links

$primary-link: $white;
$primary-link-hover: $white;

// Font Stacks

$serif: "Calisto MT", georgia, serif;
$karla: 'Karla', sans-serif;